<h1>Settings</h1>
<div>
  <p>Number of Digits</p>
  <label>
    <input type="number" id="numberOfDigits" name="numberOfDigits" [(ngModel)]="settings.numberOfDigits">
  </label>
</div>

<div>
  <p>
    How many questions? (15-20 possible Questions)
  </p>
  <label>
    <input type="number" id="numberOfQuestions" name="numberOfQuestions" [(ngModel)]="settings.numberOfQuestions">
  </label>
</div>

<div>
  <p>
    Select operators
  </p>
  <label>
    <input type="checkbox" id="add" name="add" [(ngModel)]="settings.operators[0]">+
  </label>
  <label>
    <input type="checkbox" id="sub" name="sub"  [(ngModel)]="settings.operators[1]">-
  </label>
  <label>
    <input type="checkbox" id="muliplicate" name="muliplicate"  [(ngModel)]="settings.operators[2]">*
  </label>
  <label>
    <input type="checkbox" id="divide" name="divide"  [(ngModel)]="settings.operators[3]">/
  </label>
</div>

<button routerLink="/math-trainer" (click)="settings.calculateQuestions()" [disabled]="!settings.checkValues()">Submit</button>
