<h1>Settings</h1>
<div>
  <label>Number of Digits
    <input type="number" id="numberOfDigits" name="numberOfDigits">
  </label>
</div>

<div>
  <p>
    How many questions? (15-20 possible Questions)
  </p>
  <label>
    <input type="number" id="numberOfQuestions" name="numberOfQuestions">
  </label>
</div>

<div>
  <p>
    Select operators
  </p>
  <label>
    <input type="checkbox" id="add" name="add">+
  </label>
  <label>
    <input type="checkbox" id="sub" name="sub">-
  </label>
  <label>
    <input type="checkbox" id="muliplicate" name="muliplicate">*
  </label>
  <label>
    <input type="checkbox" id="divide" name="divide">/
  </label>
</div>

<button routerLink="math-trainer">Submit</button>
